<div class="container">
  <div class="teams_display">
    <h2>Featured Teams:</h2>
    <ul>
      <% @teams.each do |team| %>
        <li>
          <a href="/teams/<%=team.id%>"><%= team.name %></a>
          <p>Points: <%= team.score%></p>
          <p>Owner: <a href="/users/<%=team.user.id%>"><%= team.user.username%></a></p>
          <form action="/teams/<%=team.id%>/vote" method="post">
            <input type="hidden" name="_method" value="put">
            <input type="submit" value="Up Vote">
          </form>
        </li>
      <% end %>
    </ul>
  </div>
</div>
