<div class="container">
  <h2><%= @team.name %></h2>
  <p>Score: <%= @team.score %></p>
  <p>Owner: <%= @team.user.username %></p>
  <table class="my_team">
    <tr>
      <th>Player</th>
      <th>Position</th>
      <th>Pro Team</th>
      <th>Age</th>
    </tr>
    <!-- Come up with a way to order these by position rather than just alphabetically -->
    <% @team.players.order(position: :asc).each do |player| %>
      <tr>
        <td><%=player.last_name%>, <%=player.first_name%></td>
        <td><%=player.position%></td>
        <td><%=player.pro_team%></td>
        <td><%=player.age%></td>
      </tr>
    <% end %>
  </table>
  <% if session[:id] == @team.user.id %>
    <a href="/teams/<%=@team.id%>/edit">Edit Team</a>
    <a href="/teams/<%=@team.id%>/delete">Delete Team</a>
  <% end %>
</div>
