<div class="container">
  <h2><%=@user.username%></h2>
  <div>
    <h3>Options</h3>
    <a class="button" href="/users/<%=@user.id%>/edit">Edit Profile</a>
    <a class="button" href="/users/<%=@user.id%>/delete">Delete Profile</a>
  </div>
  <div>
    <h3><%=@user.username%>'s Teams:</h3>
    <ul>
      <% @user.teams.each do |team|%>
        <li>
          <a href="/teams/<%=team.id%>"><%= team.name %></a>
          <p>Points: <%=team.score%></p>
          <% if session[:id] == @user.id %>
            <a href="/teams/<%=team.id%>/edit">Edit Team</a>
            <a href="/teams/<%=team.id%>/delete">Delete Team</a>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
